<% DIRECTIVE SAFE_OUTPUT_OPEN; var headContent = {
include("/pages/template/head.html"){} %>
<% }; var bodyContent = { %>
<div class="container">
		<table class="table table-striped table-bordered table-hover">
			<caption>基础信息</caption>
			<tbody>
				<% for(applicant in applicantList){%>
				<tr>
					<td style="width: 250px">所属站点</td>
					<td style="width: 300px">${applicant.province_site}</td>
					<td style="width: 250px">姓名</td>
					<td>${applicant.name}</td>
				</tr>
				<tr>
					<td>性别</td>
					<td>${applicant.sex}</td>
					<td>出生年月</td>
					<td>${applicant.birthday}</td>
				</tr>
				<tr>
					<td>应聘岗位</td>
					<td>${applicant.job}</td>
					<td>联系邮箱</td>
					<td>${applicant.email}</td>
				</tr>
				<tr>
					<td>联系电话</td>
					<td>${applicant.telephone}</td>
					<td>备用联系电话</td>
					<td>${applicant.standby_phone}</td>
				</tr>
				<tr>
					<td>简历创建时间</td>
					<td>${applicant.create_time}</td>
					<td>答题账号</td>
					<td>${applicant.account_number}</td>
				</tr>
				<tr>
					<td>简历更新时间</td>
					<td>${applicant.update_time}</td>
					<td>答题密码</td>
					<td>${applicant.password}</td>
				</tr>
			</tbody>
			<% } %>
		</table>
	    <table class="table table-striped table-bordered table-hover">
			<caption>教育背景</caption>
			<tbody>
				<% for(education in applicantandeducationList){ if(education.types==1){ %>
				<tr>
					<td colspan="4">第一专业</td>
				</tr>
				<tr>
					<td style="width: 250px">学校名称</td>
					<td style="width: 300px">${education.school_name}</td>
					<td style="width: 250px">专业</td>
					<td>${education.profession}</td>
				</tr>
				<tr>
					<td>入学时间</td>
					<td>${education.admission_time}</td>
					<td>毕业时间</td>
					<td>${education.graduation_time}</td>
				</tr>
				<tr>
					<td>学历</td>
					<td colspan="3">${education.degree}</td>
				</tr>
				<% } %> <% if(education.types==2){ %>
				<tr>
					<td colspan="4">第二专业</td>
				</tr>
				<tr>
					<td>学校名称</td>
					<td>${education.school_name}</td>
					<td>专业</td>
					<td>${education.profession}</td>
				</tr>
				<tr>
					<td>入学时间</td>
					<td>${education.admission_time}</td>
					<td>毕业时间</td>
					<td>${education.graduation_time}</td>
				</tr>
				<tr>
					<td>学历</td>
					<td colspan="3">${education.degree}</td>
				</tr>
				<% }} %>
			</tbody>
		</table>
		<table class="table table-striped table-bordered table-hover">
			<caption>经历</caption>
			<tbody>
				<% for(experience in experienceList){ %>
				<tr>
					<td style="width: 250px">名称</td>
					<td colspan="3">${experience.name}</td>
				</tr>
				<tr>
					<td>开始结束时间</td>
					<td colspan="3">${experience.time}</td>
				</tr>
				<tr>
					<td>介绍</td>
					<td colspan="3">${experience.description}</td>
				</tr>
				<tr>
					<td>成果或心得</td>
					<td colspan="3">${experience.achievement}</td>
				</tr>
				<% } %>
			</tbody>
		</table>
		<table class="table table-striped table-bordered table-hover">
			<caption>自我推荐</caption>
			<tbody>
				<% for(applicant in applicantList){ if(applicant.awards!=null){
				%>
				<tr>
					<td style="width: 250px">获奖情况</td>
					<td colspan="3">${applicant.awards}</td>
				</tr>
				<tr>
					<td>特长与优缺点</td>
					<td colspan="3">${applicant.advantages}</td>
				</tr>
				<tr>
					<td>其他</td>
					<td colspan="3">${applicant.other}</tdusername>
				</tr>
				 <% }} %>
			</tbody>
		</table>
		<table>
		<tr>
				<td class="tdone">上传附件</td>
				<td><div style="margin-top:20px;">
				
				<% if(title1!=null) { %>
				 <div style="float:left;">
				      <img  alt="" title="${title1}"  style="margin-left: 10px;width: 64px;height: 64px;margin-top: 10px;" src="static/lango/resume/image/wenjian.png">
				        <br>
				      <div  style="overflow: hidden;text-overflow: ellipsis;width: 50px;height: 20px;margin-left: 15px;" >${title1}</div>
				 </div>
				<% } %>
			<% if(title2!=null) { %>
		    <div style="float:left;">
				  <img  alt="" title="${title2}"  style="width: 64px;height: 64px;margin-top: 10px;" src="static/lango/resume/image/wenjian.png">
				   <br>
			   <div style="overflow: hidden;text-overflow: ellipsis;width: 50px;height: 20px;margin-left: 15px;">${title2}</div>
		  </div>
		      <% } %>
		    <% if(title3!=null) { %>
			<div  style="float:left;">
				  <img  alt="" title="${title3}"  style="margin-left: 10px;width: 64px;height: 64px;margin-top: 10px;" src="static/lango/resume/image/wenjian.png">
				    <br>
				<div style="overflow: hidden;text-overflow: ellipsis;width: 50px;height: 20px;margin-left: 15px;" >${title3}</div>
		 </div>
			<% } %>
		</div></td>
	</tr>
</table>
	<br /> <br /> <br />
</div>
<%}; %> <%
layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){
%> <%} %>
