<% 
DIRECTIVE SAFE_OUTPUT_OPEN;
var headContent = {
	include("/pages/template/head.html"){}
%>
<script type="text/javascript">
	var oper = {
		save:function(id){
			if(!validForm()) {
				return false;
			}
			id = id || '0';
			var url = 'admin/accountpasswd/save/'+id;
			form1.action = url;
			form1.submit();
			return true;
		}	
	};
</script>

<%
};
var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal"
		role="form" >
	<input type="hidden" name="model.id" value="${model.id}" />
	<table class="table">
		<%  // 列表vb头部%>
				<tr>
					<td>账号</td>
					<td><input class="form-control" type="text" name="model.account" value="${model.account}" /></td>
				</tr>
				<tr>
					<td>密码</td>
					<td><input class="form-control" type="text" name="model.passwd" value="${model.passwd}" /></td>
				</tr>
				<tr>
					<td>更新bn时间</td>
					<td>${model.update_time}</td>
				</tr>
				<tr>
					<td>创建时间</td>
					<td>${model.create_time}</td>
				</tr>
				<tr>
					<td>简历id</td>
					<td><input class="form-control" type="text" name="model.applicant_id" value="${model.applicant_id}" /></td>
				</tr>
	</table>
	
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-primary" onclick="return oper.save(${model.id});">保 存</button>
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%}
DIRECTIVE SAFE_OUTPUT_CLOSE; 
%>